/crawler.demo/.settings
/JavaForMl/.settings
*.settings
/leetcode/.settings
/LogisticRegression/.settings
/MLFromPython/.settings
.settings
/MLinAction/.settings
/pkuAcm/.settings
/pythonAlg/.settings
/pythonDataAnalysis/.settings
/pythonPracticeOfDataAnalysisAndMining/.settings
/SklearnDemo/.settings
/sort/.settings
/Spider/.settings
/SupportVecterMachine/.settings
/test/.settings
/Tianchi/.settings
/ToKaggle/.settings
/TwitterDM/.settings
